<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>INICIO DE SESIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">    <!-- asdjfhashefAJSHFAKJSDHFALSDHF -->
  <div class="image-circle">
    <img src="assets/images/logo.png" alt="Imagen Circular">
  </div>
    <form [formGroup]="usuario">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <br>
          <ion-input placeholder="nombre de usuario" formControlName="user"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <br>
          <ion-input type="password" placeholder="********" formControlName="user">
            <ion-input-password-toggle slot="end" ></ion-input-password-toggle>
          </ion-input>
        </ion-item>      
    <ion-button expand="block" class="login-button" (click)="irmenu()">Iniciar Sesión</ion-button>
  </form>
       
    <!-- Contenedor para los botones adicionales -->
    <div class="additional-buttons">
      <ion-button expand="block" fill="clear" class="forgot-password-button">Olvidé mi contraseña</ion-button>
    </div>
</ion-content>
